# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage

# Production
dist/
build/
out/

# Environment variables (CRITICAL)
**/.env*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS metadata
.DS_Store
Thumbs.db

# Naos local data
server/data/*.json
!server/data/profiles.json.example
